body {
	background: url('../assets/img/wrinkled-paper.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
#title {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

#gameboard {
	text-align: center;
	width: 800;
	margin: 0 27%;
}
